*,
*::after,
*::before {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 60%;
    height: 25rem;
    margin: 15rem auto;
    border: 3px black solid;
}

.score-count {
    display: flex;
    width: 40%;
    justify-content:space-between;
    align-items: space-between;
}

.score-count p {
    font-size: 1.5rem;
}

.score-count span {
    display: block;
    font-size: 2rem;
}
